.App {
  margin: 0 20px;
}

.App-header {
  text-align: center;
  padding: 30px;
}

.App-logo {
  max-width: 60px;
}

main section {
  display: grid;
  gap: 15px;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  justify-items: center;
}